<!-- debut de la liste -->
<div class="pagetitle">
    <h1>Liste des demandes d'hospitalisation à domicile </h1>
  </div><!-- End Page Title -->

<div class="card">
    <div class="card-body">

      <div class="search-bar pull-right">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
          <input type="text" name="query" placeholder="Filter" title="Enter search keyword" (keyup)="applyFilter($event)">
        </form>
      </div>
      
      <table mat-table class="table table-hover" [dataSource]="dataSource" multiTemplateDataRows>

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> # </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="patient">
          <th mat-header-cell *matHeaderCellDef> Patient </th>
          <td mat-cell *matCellDef="let element"> {{element.idPatient}}
              <span class="m-1" *ngIf="!element.isExpanded"><i class="bi bi-caret-down-fill"></i></span>
              <span class="m-1" *ngIf="element.isExpanded "><i class="bi bi-caret-up-fill"></i></span>
            </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="contact patient">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'">
                <span class="expanded-contents"> 
                    tel : {{element.numeroTel}} <br> 
                    adresse: {{element.address}}  <br>
                </span>
            </div>
        </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="service">
            <th mat-header-cell *matHeaderCellDef> Service </th>
            <td mat-cell *matCellDef="let element"> {{element.besoin}}  </td>
          </ng-container>
    
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> date </th>
            <td mat-cell *matCellDef="let element"> {{element.dateRdvHad}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element" class="fw-bold" [style.color]="getcolor(element)">
                <i *ngIf="element.status == 'confirmer'" class="bi bi-check-circle" style="font-size:20px;"></i>
               
               
                <i  *ngIf="element.status == 'En cours'"class="bi bi-hourglass-split" style="font-size:20px;"></i>
                <i *ngIf="element.status == 'annuler'" class="bi bi-x-circle-fill" style="font-size:20px;"></i>
            </td>  
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="fw-bold" >
                
                <button class="btn btn-success btn-sm m-1" data-bs-toggle="modal" data-bs-target="#verticalycentered1" (click)="getHad(element)" >
                    <i class="bi bi-check2"></i>
                </button>
               
               
                <button class="btn btn-danger btn-sm " data-bs-toggle="modal" data-bs-target="#basicModal" (click)="getHad(element)">
                    <i class="bi bi-x"></i>
                    </button>
            </td>
                
          </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"  
              [class.example-expanded-row]="row.isExpanded" 
              (click)="row.isExpanded = !row.isExpanded"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: ['contact patient']" class="example-detail-row"></tr>
      </table>

    </div>
    <mat-paginator [pageSizeOptions]="[10, 20, 40, 100]"></mat-paginator>
</div>

<!-- confirmer Had -->
<div class="modal fade" id="verticalycentered1" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="color: #103073;">Confirmer la demande d'HAD</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Etes-vous sur de confirmer la demande?
        <div class="col-md-12">
            <label for="inputName6" class="form-label">Message à envoyer au patient</label>
            <textarea class="form-control" placeholder="Address" id="floatingTextarea" [(ngModel)]="descriptionConfirmation" style="height: 100px;"></textarea>
          </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
          <button type="button" class="btn btn-primary" style="background-color: #103073; border-color: #103073;" data-bs-dismiss="modal" (click)="confirmer()" >Oui</button>
        </div>
      </div>
    </div>
  </div>
  <!--fin confirmation-->

<!--Suppression had -->
<div class="modal fade" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="color: #103073;">Annuler la demande d'HAD</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Etes-vous sur d'annuler la demande?
        <div class="col-md-10 m-2">
            <label for="inputName7" class="form-label">Message à envoyer au patient</label>
            <textarea class="form-control" placeholder="Address" id="floatingTextarea1" [(ngModel)]="descriptionAnnuler" style="height: 100px;"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
          <button type="button" class="btn btn-primary" style="background-color: #103073; border-color: #103073;" data-bs-dismiss="modal" (click)="annuler()" >Oui</button>
        </div>
      </div>
    </div>
  </div>
 <!-- End Suppression-->

  
