<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <!--<div class="d-flex justify-content-center py-4">
              <a class=" d-flex align-items-center w-auto">
                <img src="assets/img/logo carthagéne.png" alt="">
               <span class="d-none d-lg-block">NiceAdmin</span>
              </a>
            </div>-->

            <div class="card mb-3">
              

              <div class="card-body">
                <div class="d-flex justify-content-center py-4">
                  <a class=" d-flex align-items-center w-auto">
                    <img src="assets/img/logo carthagéne.png" style="max-height: 140px;">
                  </a>
                </div>

                <div class="pt-2 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Se Connecter</h5>
                  <p class="text-center small">Entrez votre username et mot de passe.</p>
                </div>

                <form class="row g-3 needs-validation" #form="ngForm" novalidate>

                  <div class="col-12">
                    <label for="yourUsername" class="form-label">Username</label>
                    <div class="input-group has-validation">
                      <input type="text" name="username" class="form-control" id="yourUsername" required ngModel>
                      <div class="invalid-feedback">Entrez votre username s'il vous plait.</div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="yourPassword" class="form-label">Mot de passe</label>
                    <div class="row">
                      <div class="col-11" style="padding-right:0px" >
                    <input [type]="showPassword ? 'text' : 'password'" name="password" class="form-control" id="yourPassword" required ngModel>
                      </div>
                    <div class="invalid-feedback">Enter votre mot de passe s'il vous plait !</div>
                    <div class="col-1">
                      <i alt="show" class="far fa fa-eye eye-show"
                         (click)="showPassword = !showPassword"
                         [class.hide]="showPassword"></i>
                      <i alt="hide" class="far fa fa-eye-slash eye-hide"
                         (click)="showPassword = !showPassword"
                         [class.hide]="!showPassword"></i>
                    </div>
                    </div>
                  </div>
                
                  <div class="col-12">
                    <button class="btn btn-primary w-100" style="background-color: #103073; border-color: #103073;" type="submit" (click)="onSubmit(form)" [disabled]="!form.valid">Login</button>
                  </div>
                  
                </form>

              </div>
            </div>

            
          </div>
        </div>
      </div>

    </section>

  </div>