<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#verticalycentered">
    <i class="fa fa-plus" aria-hidden="true"></i> Ajout
  </button>
  <div class="modal fade" id="verticalycentered" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajouter un service</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="card">
            <div class="card-body">
              <form class="row g-3" #myForm="ngForm">
                  <div class="col-md-12">
                    <label for="inputName5" class="form-label">Description </label>
                    <input type="text" class="form-control" id="inputName5" ngModel required name="description">
                  </div>
                <div class="col-md-12">
                  <label for="inputState" class="form-label">Catégorie</label>
                  <select id="inputState" class="form-select" ngModel required name="categorie">
                    <option [value]="1">Spécialités Médicales</option>
                    <option [value]="2">Spécialités chirurgicales</option>
                    <option [value]="3">Explorations fonctionnelles</option>
                  </select>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="save(myForm)" [disabled]="!myForm.valid">Ajouter</button>
                  <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                </div>
              </form><!-- End Multi Columns Form -->
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div><!-- End Vertically centered Modal-->